@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    ---recepi-font: hsl(332, 51%, 32%);
    ---recepi-back: hsl(330, 100%, 98%);
    ---font-color: hsl(14, 45%, 36%);
    ---white: hsl(0, 0%, 100%);
    ---backgroud: hsl(30, 54%, 90%);
    ---Stone: hsl(30, 18%, 87%);
    ---font-paragraph: hsl(30, 10%, 34%);
    ---font: hsl(24, 5%, 18%);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(---backgroud);
}

main {
    display: grid;
    grid-template-columns: auto 50vw auto;
    margin-top: 80px;
}

section#recipe {
    grid-column: 2;
    background-color: var(---white);
    border-radius: 12px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.123);
}

div img {
    width: 90%;
    border-radius: 12px;
}

div#img {
    text-align: center;
    margin: 50px 0px 40px 0px;
}

div#destaque {
    background-color: var(---recepi-back);
    margin: 20px 50px 20px 50px;
    border-radius: 12px;
}

div#destaque h2 {
    color: var(---recepi-font);
    margin-left: 10px;
    padding: 10px;
    font-size: 25px;
}

div#destaque ul {
    padding-bottom: 10px;
}

div#destaque li {
    text-indent: 18px;
    padding: 10px;
}

div#destaque li::marker {
    color: var(---recepi-font);
}

#container-ingredi {
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
}

#container-instruction {
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
}

table {
    width: 400px;
    padding: 10px 0px 30px 0px;
    text-align: center;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
}

table td.fonte-destaque {
    color: var(---font-color);
    font-weight: 600;
}

li {
    text-indent: 20px;
    padding: 8px;
}

ul, ol {
    padding: 0px 20px 20px 20px;
}

ol li {
    text-indent: 0px;
    padding-left: 30px;
}

li::marker {
    color: var(---font-color);
    font-weight: bold;
} 

h1, h2 {
    padding: 20px;
    margin-left: 30px;
    font-family:"Young Serif", serif;
    font-weight: 300;
}

h1 {
    font-size: 50px;
}

h2 {
    color: var(---font-color);
    font-size: 30px;
}

p, li, table {
    font-family: "Outfit", sans-serif;
    margin: 0px 50px 0px 50px;
    text-align: justify;
    font-size: 16px;
    color: var(---font-paragraph);
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}